.lform1{
border: 0px;
border-radius: 0px;
border-bottom: 1px solid rgb(91, 91, 241);
}
.lfoter{
    /* background-color:blue ; */
    color: blue;
    font-weight: 700;
}

.s1{
    color: blue;
}